<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Document</title>
</head>
<body>

    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>

        <ul>
            <li><img src="/media/pokebola-go.png" alt="pokebola"></li>            
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/"><h1>Pokédex</h1></a></li>
            <li><a href="/detalhes">Pokemons</a></li>
            <li><img src="/media/pokebola-go.png" alt="pokebola"></li>
        </ul>        

    </nav> 

    <header>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="/media/banner (0).jpg" alt=""></div>
              <div class="swiper-slide"><img src="/media/banner (1).jpg" alt=""></div>
              <div class="swiper-slide"><img src="/media/banner (2).jpg" alt=""></div>
              <div class="swiper-slide"><img src="/media/banner (3).jpg" alt=""></div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>

        </div>
    </header>

    <main>

        <section id="cards">

            <h2>Lista de pokemons</h2>

            <% pokedex.forEach((pokemon) => { %>
                <div class="card">
                    <img src="<%= pokemon.imagem %>" alt="">
                    <h3> <%= pokemon.nome %> </h3>
                    <p class="descricao"> <%= pokemon.descricao %> </p>
                    <p>Tipo <%= pokemon.tipo %> </p>
                    <a id="editar" href="/editar/<%= pokemon.id %>">Editar</a>
                    <a id="apagar" href="/delete/<%= pokemon.id %>">Apagar</a>
                </div>        
            <% }) %>
            
        </section>

        

    </main>

    <footer>
        <p>Todos os direitos reservados para <a target="_blank" href="https://www.instagram.com/mthiagoalves/">Thiago Alves</a> e <a target="_blank" href="https://www.instagram.com/diegofreitas50/"> Diego Freitas </a> ©</p>
            <p>Inspirado em <a target="_blank" href="https://www.pokemon.com/br/">Pokedex</a></p>
        </footer>
    </footer>

    <script src="/js/script.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</body>
</html>